.systemCard {
  width: 200px;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 23px 2px rgba(34, 60, 80, 0.08);
    transform: scaleX(1.04) scaleY(1.04);
    
    .systemName { 
      background-color: #1876d1;
    }

    .systemInfo {
      border-color: #1876d1;
    }
  }

  .systemName {
    background-color: #2a85e0;
    transition: all 0.15s ease-in-out;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
  }

  .systemInfo {
    padding: 14px 16px 10px 14px;
    transition: all 0.15s ease-in-out;
    border-color: #2a85e0;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    > p {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      font-size: 14px;


      > .value {
        color: #1876d1;
        font-weight: 600;
        font-style: italic;
      }

      > .label {
        color: #009797;
        font-weight: 400;
      }
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }
}
